/Description/
/data/.ipynb_checkpoints/
/data/raw_data/
/a1-sample-202324/
/.ipynb_checkpoints/
.DS_Store
.idea/
__pycache__/
/data/cleaned_data/
/data/duration.txt
/assignment1_sample1/
/assignment1_sample2/
/bvalues/
